*::-webkit-scrollbar-thumb {
    background: #9ab1e5;
}

.code {
    background-color: #DBE3F2;
}

.header, .footer {
    background: #9ab1e5;
    background: linear-gradient(135deg, #9ab1e5 0%, #698bbf 100%);
    background: -moz-linear-gradient(135deg, #9ab1e5 0%, #698bbf 100%);
    background: -webkit-linear-gradient(135deg, #9ab1e5 0%, #698bbf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#9BB2E5", endColorstr="#698CBF", GradientType=1);
}