* {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #17181f !important;
  color: #fff !important;
}

i {
  font-size: 4rem;
}

a i {
  color: #fff;
  font-size: 2rem;
  margin: 0.5rem;
}

img {
  padding-top: 16px;
  margin-right: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0;
  display: block;
  margin: 0.5rem;
  font-size: 1.5rem;
  width: 30rem;
  resize: none;
}

input:focus,
textarea:focus {
  outline: 1px solid #fff;
}
.imgFastAPI {
  margin-top: 0.5rem;
}
.projectsContainer {
  height: fit-content;
  background-color: #fff;
  color: #17181f;
  padding-bottom: 1rem;
}

.projectsContainer .cards {
  margin-top: 3.5rem;
}

.socials {
  width: fit-content;
  margin: 0.75rem auto;
}

.welcome {
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.greeting,
.knowledge {
  margin-top: 17.5rem;
  height: fit-content;
}

.greeting {
  padding: 1rem 0;
}

.knowledge {
  text-align: center;
  padding: 1rem;
}

.stacks {
  display: flex;
  width: fit-content;
  margin: 0.5rem auto;
}

.stacks {
  margin: auto;
  width: fit-content;
}

.greeting h1 {
  font-size: 6rem;
}

.hello {
  animation-name: hand-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  height: fit-content;
}

.projectsLink {
  padding: 0;
  margin: 45rem 0 0 0;
  width: fit-content;
  height: fit-content;
}

.projectsLink i {
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 1s ease-in-out infinite;
}

.contact {
  height: 100vh;
}

.fields {
  width: fit-content;
  margin: auto;
  padding-top: 17.5rem;
}

.fields h1 {
  padding-bottom: 2rem;
}

.projectsContainer i {
  margin-top: 1rem;
  color: #17181f;
}

.message {
  padding: 1rem 1rem 10rem 0.5rem;
  text-align: left;
  height: 15rem;
}

.sendBtn {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding-top: 1.5rem;
}
.social {
  transition: 0.2s;
}
.social:hover {
  color: #d4d4d4;
}
@keyframes float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes hand-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1390px) {
  .projectsContainer {
    height: fit-content;
    padding-bottom: 2rem;
  }

  .fields {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 700px) {
  input,
  textarea {
    width: 98%;
  }

  .projectsContainer {
    height: fit-content;
    padding-bottom: 2rem;
  }

  .knowledge,
  .greeting {
    text-align: center;
  }

  .greeting h1 {
    font-size: 5rem;
  }

  .knowledge {
    margin-top: 1rem;
  }

  .greeting {
    margin: 0;
    padding: 0;
  }

  .welcome {
    display: block;
  }

  .welcome .projectsLink {
    display: none;
  }

  .projectsContainer br {
    display: none;
  }

  .fields {
    padding-top: 10rem;
  }
}
