*::-webkit-scrollbar-thumb {
    background: #8a9ea7;
}

h3 {
    font-size: 1.4rem;
    padding-left: 1rem;
}

#cli {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.code {
    background-color: #8298a11c;
}

.header, .footer {
    background: #8298a1;
    background: linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
    background: -moz-linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
    background: -webkit-linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#8399A2", endColorstr="#EEF2F3", GradientType=1);
}

@media screen and (max-width: 600px) {
    html {
        font-size: 62% !important;
    }
}