*::-webkit-scrollbar-thumb {
  background: #deb6f6;
}

.code {
  background-color: #EBEEFD;
}

.header, .footer {
  background: #deb6f6;
  background: linear-gradient(135deg, #deb6f6 0%, #8dcffc 100%);
  background: -moz-linear-gradient(135deg, #deb6f6 0%, #8dcffc 100%);
  background: -webkit-linear-gradient(135deg, #deb6f6 0%, #8dcffc 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#DDB4F6", endColorstr="#8DD0FC", GradientType=1);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.75rem;
  }
}