{% extends 'layout.html' %} {% block head %}
<link
   rel="stylesheet"
   href="{{ url_for('static', filename='css/openSource.css') }}"
   />
<link
   rel="stylesheet"
   href="{{ url_for('static', filename='css/flaskBlog.css') }}"
   />
<title>flaskBlog</title>
<link
   rel="icon"
   href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📜</text></svg>"
   />
{% endblock %} {% block body %}
<div class="header">
   <div>
      <h1>flaskBlog</h1>
      <h3>Simple blog app built with Flask.📜</h3>
      {% include 'githubStats.html' %}
   </div>
   <div class="buttons">
      <a href="https://github.com/DogukanUrker/flaskBlog" target="_blank"
         ><i class="fa-brands fa-github" title="repository"></i
         ></a>
   </div>
</div>
<div class="body">
   <img
      src="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/master/images/desktop/light.png"
      alt="desktop"
      width="960"
      id="desktop"
      />
   <img
      src="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/master/images/mobile/light.jpeg"
      alt="mobile"
      width="310.5"
      id="mobile"
      />
   <a href="https://github.com/DogukanUrker/flaskBlog/tree/master/images" id="seeMore" target="_blank">see more</a>
   <h2>Features 💫</h2>
   <div class="features">
      <div class="table1">
         <table>
            <tr>
               <td>User Page</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Login</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Points</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Delete</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Admin Panel</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Sign Up</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Log Out</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Password Reset</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Dashboard Page</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Settings Page</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Name Change</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>User Profile Pictures</td>
               <td>✅</td>
            </tr>
         </table>
      </div>
      <div class="table2">
         <table>
            <tr>
               <td>Logging</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Post Edit</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Comment</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Search Bar</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>CKEditor 5</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Post Views</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Post Delete</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Post Creation</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Comment Delete</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Debug Messages</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Database Checker</td>
               <td>✅</td>
            </tr>
            <tr>
               <td>Dark/Light Themes</td>
               <td>✅</td>
            </tr>
         </table>
      </div>
   </div>
   <div class="install">
      <h2>Installation ⬇️</h2>
      <p>download source code from Github 💾</p>
      <div class="code">
         <p>git clone https://github.com/DogukanUrker/flaskBlog.git</p>
      </div>
      <p>go to directory 📁</p>
      <div class="code">
         <p>cd flaskBlog</p>
      </div>
      <p>install requirements.txt 🔽</p>
      <div class="code">
         <p>pip install -r requirements.txt</p>
      </div>
      <p>it's ready to run 🎉</p>
      <div class="code">
         <p>python app.py</p>
      </div>
      <p>or</p>
      <div class="code">
         <p>python desktop.py</p>
      </div>
      <p>for run flaskBlog as a desktop app 💯</p>
   </div>
</div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}