{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/openSource.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/getImagesFromURL.css') }}"
/>
<title>getImagesFromURL</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💾</text></svg>"
/>
{% endblock %} {% block body %}
<div class="header">
  <div>
    <h1>getImagesFromURL</h1>
    <h3>Download images from URL.🌐💾</h3>
    {% include 'githubStats.html' %}
  </div>
  <div class="buttons">
    <a
      title="download .exe"
      href="https://github.com/DogukanUrker/getImagesFromURL/releases/download/v1/getImagesFromURLGUI.exe"
      target="_blank"
      ><i class="fa-brands fa-windows"></i
    ></a>
    <a href="https://github.com/DogukanUrker/getImagesFromURL" target="_blank"
      ><i class="fa-brands fa-github" title="repository"></i
    ></a>
  </div>
</div>
<div class="body">
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/getImagesFromURL/main/appImages/gui.png"
    alt="desktop"
    id="gui"
  />
  <div class="install">
    <h2>Installation ⬇️</h2>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>git clone https://github.com/DogukanUrker/getImagesFromURL.git</p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd getImagesFromURL</p>
    </div>
    <p>install requirements.txt 🔽</p>
    <div class="code">
      <p>pip install -r requirements.txt</p>
    </div>
    <p>it's ready to run 🎉</p>
    <h2>Usage 📄</h2>
    <h3>CLI 📟</h3>
    <p>Run getImagesFromURL in your terminal</p>
    <div class="code">
      <p>python cli.py</p>
    </div>
    <p>
      Enter a link, select method for saving images and enter file/folder name
      for images.
    </p>
    <img
      src="https://raw.githubusercontent.com/DogukanUrker/getImagesFromURL/main/appImages/cli.png"
      alt="desktop"
      id="cli1"
    />
    <img
      src="https://raw.githubusercontent.com/DogukanUrker/getImagesFromURL/main/appImages/cli2.png"
      alt="desktop"
      id="cli2"
    />
    <p>All images saved!</p>
    <h3>GUI 📱</h3>
    <div class="code">
      <p>python gui.py</p>
    </div>
    <p id="💯">💯</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}
