<meta name="theme-color" content="#17181f" />
{% extends 'layout.html'%} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<title>Doğukan.</title>
<link
  rel="icon"
  href="https://avatars.githubusercontent.com/u/62756402?s=400&u=f4cf840339e42e2fdf0e13debeb9369217b06743&v=4"
/>
{% endblock head %} {% block body %}
<div class="welcome">
  <div class="greeting">
    <h1>Hi<span class="hello">👋🏻</span> I'm</h1>
    <h1>Doğukan</h1>
    <div class="socials">
      <a href="https://github.com/dogukanurker" target="_blank"
        ><i class="fa-brands fa-github social"></i
      ></a>
      <a href="#contact"><i class="fa-solid fa-envelope social"></i></a>
    </div>
  </div>
  <a href="#projects" class="projectsLink"
    ><i class="fa-solid fa-arrow-down"></i
  ></a>
  <div class="knowledge">
    <h1>Full Stack Developer</h1>
    <div class="stack">
      <br />
      <h3>Back-end</h3>
      <div class="stacks">
        <img src="https://skillicons.dev/icons?i=python,c,mongo" alt="" />
      </div>
      <div class="stacks">
        <img src="https://skillicons.dev/icons?i=flask,fastapi,sqlite" alt="" />
      </div>
      <br />
      <h3>Front-end</h3>
      <div class="stacks">
        <img src="https://skillicons.dev/icons?i=js,ts,react" />
      </div>
      <div class="stacks">
        <img src="https://skillicons.dev/icons?i=html,css,bootstrap" alt="" />
      </div>
      <div class="stacks">
        <img src="https://skillicons.dev/icons?i=qt,tailwind,vite" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="projectsContainer" id="projects">
  {% include 'projects.html' %}
  <a href="#contact" class="projectsLink"
    ><i class="fa-solid fa-arrow-down"></i
  ></a>
</div>
<div class="contact">
  <div class="fields">
    <h1 id="contact">Contact</h1>
    <input type="text" class="senderName" placeholder="name" />
    <input type="text" class="senderMail" placeholder="email" />
    <textarea type="text" class="message" placeholder="message"></textarea>
    <button onclick="send()" class="sendBtn">Send</button>
  </div>
</div>
<script src="/static/js/index.js"></script>
{% endblock body %}
