<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#fff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/af7a48118d.js"
      crossorigin="anonymous"
    ></script>
    {% block head %} {% endblock head %}
  </head>
  <body>
    {% block body %} {% endblock body %}
  </body>
</html>
