{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/openSource.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/LinktreeClone.css') }}"
/>
<title>LinktreeClone</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔗</text></svg>"
/>
{% endblock %} {% block body %}
<div class="header">
  <div>
    <h1>LinktreeClone</h1>
    <h3>Link in bio tool built with FastAPI & React.🔗</h3>
    {% include 'githubStats.html' %}
  </div>
  <div class="buttons">
    <a
      title="repository"
      href="https://github.com/DogukanUrker/LinktreeClone"
      target="_blank"
      ><i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
<div class="body">
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/LinktreeClone/master/images/desktop/links.png"
    alt="desktop"
    width="960"
    id="desktop"
  />
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/LinktreeClone/master/images/mobile/links.png"
    alt="mobile"
    width="310.5"
    id="mobile"
  />
  <a
    href="https://github.com/DogukanUrker/LinktreeClone/tree/master/images"
    id="seeMore"
    target="_blank"
    >see more</a
  >
  <div class="install">
    <h2>Installation ⬇️</h2>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>git clone https://github.com/DogukanUrker/LinktreeClone.git</p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd LinktreeClone</p>
    </div>
    <h3>Backend</h3>
    <div class="code">
      <p>cd backend</p>
    </div>
    <p>install requirements.txt 🔽</p>
    <div class="code">
      <p>pip install -r requirements.txt</p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>uvicorn main:app --reload --port 1202</p>
    </div>
    <h3>Frontend</h3>
    <div class="code">
      <p>
        cd frontend
      </p>
    </div>
    <p>install packages 📦</p>
    <div class="code">
      <p>
        npm install
      </p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>
        npm run dev
      </p>
    </div>
    <p id="💯">💯</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}
