{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/openSource.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/shutdowntimer.css') }}"
/>
<title>Shutdown Timer</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💤</text></svg>"
/>
{% endblock %} {% block body %}
<div class="header">
  <div>
    <h1>ShutdownTimer</h1>
    <h3>
      Simple app to shutdown or restart your computer whenever you want.💤
    </h3>
    {% include 'githubStats.html' %}
  </div>
  <div class="buttons">
    <a
      title="download .exe"
      href="https://github.com/DogukanUrker/shutdowntimer/releases/download/v1/ShutdownTimer.exe"
      target="_blank"
      ><i class="fa-brands fa-windows"></i
    ></a>
    <a
      title="repository"
      href="https://github.com/DogukanUrker/ShutdownTimer"
      target="_blank"
      ><i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
<div class="body">
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/ShutdownTimer/main/shutdowntimer.png"
    alt="desktop"
  />
  <div class="install">
    <h2>Installation ⬇️</h2>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>git clone https://github.com/DogukanUrker/ShutdownTimer.git</p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd ShutdownTimer</p>
    </div>
    <p>install requirements.txt 🔽</p>
    <div class="code">
      <p>pip install -r requirements.txt</p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>python ShutdownTimer.py</p>
    </div>
    <p id="💯">💯</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}
