<meta name="theme-color" content="#000" />
{% extends 'layout.html'%} {% block head %}
<title>Socials</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/socials.css') }}"
/>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💀</text></svg>"
/>
{% endblock head %} {% block body %}
<div class="centeredBox">
  <a href="https://www.instagram.com/dogukanurker/" target="_blank"
    ><i class="fa-brands fa-instagram"></i
  ></a>
  <a href="https://www.twitter.com/dogukanurker/" target="_blank"
    ><i class="fa-brands fa-twitter"></i
  ></a>
  <a href="https://steamcommunity.com/id/dogukanurker" target="_blank"
    ><i class="fa-brands fa-steam"></i
  ></a>
  <a href="https://www.reddit.com/user/dogukanurker/" target="_blank"
    ><i class="fa-brands fa-reddit"></i
  ></a>
  <a href="https://www.github.com/dogukanurker/" target="_blank"
    ><i class="fa-brands fa-github"></i
  ></a>
</div>
{% endblock body %}
